{{#each this}}
<div class="country-name">
    <h2>{{name}}</h2>
    <p>Capital: {{capital}}</p>
    <p>Population: {{population}}</p>
    <p>Languages: </p>
    <ul>{{#each languages}}<li>{{name}}</li>{{/each}}</ul>
</div>
<div class="flag">
    <img width="400" src="{{flag}}" alt="flag of {{name}}">
</div>
{{/each}}